<h1>Editing work test</h1>

<%= render "form", work_test: @work_test %>

<br>

<div>
  <%= link_to "Show this work test", @work_test %> |
  <%= link_to "Back to work tests", work_tests_path %>
</div>
