<h1>TA時間管理システム</h1>

<p class="centered-text"><%= link_to '科目一覧画面', '/courses/index',class:'button-like' %></p>
<p class="centered-text"><%= link_to '帳票表示画面', '/show_reports/index', class:'button-like' %></p>
<p class="centered-text"><%= link_to 'TA候補者一覧画面', '/teaching_assistants/index', class:'button-like' %></p>
