
.table-container {
    margin-bottom: 20px;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-container th, .table-container td,.table-container td_des {
    padding: 4px;
    border: 1px solid #ccc;
  }


  .table-container tbody tr {
    border: 1px solid #ccc;
  }

  .table-container th {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }


  .table-container td_des {
    width: 100px;
  }

